#Space01{
    height: 300px;
    width: auto;    
}

#Space02{
    height: 20px;
    width: auto;    
}

#Spaceend{
    height: 500px;
    width: auto;
}

a{
    text-decoration: none;
    color: white;
    border: 1px solid;
    border-radius: 2px;
    background-color: none;  
}

a:hover{
    color:#00FFB1;
}

#logocentre {
    display: block;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -180px;
}

.title {
    color:#00FFB1;
}

h1{
    text-align: center;
    font-family: verdana, Serif, sans-serif;
    font-size: 30px;
    color: white;
    margin: auto;
}

h2{
    color:white;
}

p{
    color:deeppink;
    font-style: italic;
    font-size: 10px;
}

#menubar{
    
}

#provisoire{
    font-family: verdana;
    font-style: italic;
    font-size: 20px;
    color: white;
}

#basdepage{
    text-align: center;
    font-size: 10px;
    color : #00FFB1;
    font-style: normal;
    
}

html{
    font-family: verdana;
    background-color: black;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}

.biggreen{
    color : #00FFB1;
    font-size:50px;
    
}

.photo{
    width: 300px;
}